body {
    width: fit-content;
    background-color: rgb(9, 9, 9);
}

header {
    background-image: url(salonheader2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 650px;
    margin: -25px;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    padding-top: 50px;
    letter-spacing: 20px;
}

span {
    font-weight: bolder;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: 10px;
    color: white;
    margin-top: -40px;
    margin-right: 30px;
  }
  
nav ul li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
  }
  
nav ul li a {
    text-decoration: none;
    color: white;
  }
  
nav ul li a:hover {
    color: lightgrey;
  }

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding-bottom: 10px;
}

.info {
  margin: 100px 0px 50px 0px;
  text-align: center;
}

.salon-inside {
  width: 450px;
  height: 300px;
  outline: 5px solid white;
  outline-offset: 25px;
}

.tag-line {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}



@media (max-width: 991px) {
  main {
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  }
}

@media (min-width: 992px) {
  body {
    width: 97vw;
  }
  
  main {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  }
}