body {
    width: fit-content;
    background-color: rgb(9, 9, 9);
    margin: 16px;
}

header {
    background-image: url(images/salonheader2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 650px;
    margin: -25px;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    padding-top: 50px;
    letter-spacing: 20px;
}

span {
    font-weight: bolder;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: 10px;
    color: white;
    margin-top: -40px;
    margin-right: 30px;
  }
  
nav ul li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
  }
  
nav ul li a {
    text-decoration: none;
    color: white;
  }
  
nav ul li a:hover {
    color: lightgrey;
  }

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding-bottom: 10px;
}

.info {
  margin: 100px 0px 50px 0px;
  text-align: center;
}

.salon-inside {
  width: 450px;
  height: 300px;
  outline: 5px solid white;
  outline-offset: 25px;
}

.tag-line {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 100%;
  align-items: center;
}

.styles {
  margin: 50px 20px 50px 20px;
  text-align: center;
}

.salon-styles {
  width: 300px;
  height: 175px;
  outline: 5px solid white;
  outline-offset: 20px;
}

.tag-line2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 65px;
  letter-spacing: 30px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.tag-line2 span {
  color: rgb(93, 115, 131);
}


@media (max-width: 767px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  body {
    width: 97vw;
  }

  nav {
    text-align: center;
  }

  .salon-inside {
    width: 250px;
    height: auto;
  }

  section {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 1fr;
    margin: 50px;
  }

  .salon-styles {
    width: 200px;
    height: auto;
  }

  .tag-line2 {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  nav {
    text-align: center;
  }

  body {
    width: 97vw;
  }

  section {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 1fr;
    margin: 50px;
  }

  .tag-line2 {
      width: 100%;
  }
}

@media (min-width: 992px) {
  body {
    width: 97vw;
  }
  
  main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
}

@media (min-width: 1200px) {
  body {
    width: 97vw;
  }
  
  main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  section {
    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: 100%;
    margin: 50px;
  }
}