body {
  width: 100%;
  background-color: rgb(9, 9, 9);
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
  width: 100vw;
}

header {
    background-image: url(../images/salonheader2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 650px;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    padding-top: 50px;
    letter-spacing: 20px;
}

span {
    font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: 10px;
    color: white;
    margin-top: -40px;
    margin-right: 30px;
  }
  
nav ul li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
  }
  
nav ul li a {
    text-decoration: none;
    color: white;
  }
  
nav ul li a:hover {
    color: lightgrey;
  }

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: 20px;
}

.info {
    margin: 75px;
    text-align: center;
}

.salon-location {
    width: 40vw;
    height: auto;
    outline: 5px solid white;
    outline-offset: 25px;
}

h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: left;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(93, 115, 131);
}

.container form {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 100px 0px 50px 0px;
}

.socials-logo {
  width: 80px;
}

.follow {
  margin-right: 25px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
}



/* MEDIA QUERIES HERE */

@media (max-width: 500px) {
  body {
    width: 100vw;
  }

  .main {
    display: grid;
    justify-content: center;
  }

  nav {
    text-align: center;
  }

  .salon-location {
    width: 60vw;
    height: auto;
  }

  .socials-logo {
    width: 40px;
  }
}

  @media (min-width: 501px) {
  body {
    width: 100vw;
  }

  main {
    display: grid;
  }

  nav {
    text-align: center;
  }

  .socials-logo {
    width: 40px;
  }
}
  
  @media (min-width: 768px) {
  body {
    width: 97vw;
  }

  main {
    display: grid;
  }

  nav {
    text-align: center;
  }

  .socials-logo {
    width: 60px;
  }
}
  
  @media (min-width: 992px) {
  body {
    width: 97vw;
  }

  main {
    display: grid;
  }

  nav {
    text-align: center;
  }

  .socials-logo {
    width: 70px;
  }
}
  
  @media (min-width: 1200px) {
  body {
    width: 97vw;
  }

  main {
    display: grid;
  }

  nav {
    text-align: center;
  }
  
  .socials-logo {
    width: 80px;
  }
}