body {
  width: 100%;
  background-color: rgb(9, 9, 9);
  margin: 0;
  padding: 0;
}

.wrapper {
overflow-x: hidden;
width: 100vw;
}

header {
    background-image: url(../images/salonheader2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 650px;
    margin: -25px;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    padding-top: 50px;
    letter-spacing: 20px;
}

span {
    font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: 10px;
    color: white;
    margin-top: -40px;
    margin-right: 30px;
  }
  
nav ul li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
  }
  
nav ul li a {
    text-decoration: none;
    color: white;
  }
  
nav ul li a:hover {
    color: lightgrey;
  }

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.info {
  margin: 100px 0px 50px 0px;
  text-align: center;
}

.founder-pic {
  width: 450px;
  height: 600px;
  outline: 5px solid white;
  outline-offset: 25px;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  text-align: left;
  letter-spacing: 5px;
}

p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin-top: -35px;
  text-align: left;
  letter-spacing: 3px;
}



  @media (max-width: 767px) {
    main {
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
    }
  
    body {
      width: 97vw;
    }
  
    nav {
      text-align: center;
    }
  
    .salon-inside {
      width: 250px;
      height: auto;
    }
  
    section {
      grid-template-columns: 100%;
      grid-template-rows: 33% 33% 1fr;
      margin: 50px;
    }
  
    .salon-styles {
      width: 200px;
      height: auto;
    }
  
    .tag-line2 {
      font-size: 15px;
    }
  }
  
  @media (min-width: 768px) {
    body {
      width: 97vw;
    }
  }
  
  @media (min-width: 992px) {
    body {
      width: 97vw;
    }
  }
  
  @media (min-width: 1200px) {
    body {
      width: 97vw;
    }
  }