body {
  width: 100%;
  background-color: rgb(9, 9, 9);
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
  width: 100vw;
}

header {
  background-image: url(../images/salonheader2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 650px;
}

.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 55px;
  padding-top: 50px;
  letter-spacing: 20px;
}

span {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  letter-spacing: 10px;
  color: white;
  margin-top: -40px;
  margin-right: 30px;
}
  
nav ul li {
  display: inline-block;
  margin: 0px 50px 0px 50px;
}
  
nav ul li a {
  text-decoration: none;
  color: white;
}
  
nav ul li a:hover {
  color: lightgrey;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.info {
  margin: 100px 50px 50px 50px;
  text-align: center;
}

.founder-pic {
  width: 400px;
  height: auto;
  outline: 5px solid white;
  outline-offset: 25px;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  text-align: left;
  letter-spacing: 5px;
}

p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin-top: -35px;
  text-align: left;
  letter-spacing: 4px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 100px 0px 50px 0px;
}

.socials-logo {
  width: 80px;
}

.follow {
  margin-right: 25px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
}



@media (max-width: 500px) {
  body {
    width: 100vw;
  }
    
  nav {
    text-align: center;
  }

  .main {
    justify-content: center;
  }

  .founder-pic {
    width: 60vw;
    height: auto;
  }

  h1 {
    font-size: 35px;
    margin-top: -50px;
  }

  p {
    font-size: 20px;
  }

  .socials-logo {
    width: 40px;
  }
}  

@media (min-width: 501px) {
  body {
    width: 100vw;
  }

  nav {
    text-align: center;
  }

  .main {
    justify-content: center;
  }

  .founder-pic {
    width: 60vw;
    height: auto;
  }

  h1 {
    font-size: 40px;
    margin-top: -50px;
  }

  p {
    font-size: 25px;
  }

  .socials-logo {
    width: 40px;
  }
}
  
@media (min-width: 768px) {
  body {
    width: 97vw;
  }

  nav {
    text-align: center;
  }

  .socials-logo {
    width: 60px;
  }
}
  
@media (min-width: 992px) {
  body {
    width: 97vw;
  }

  nav {
    text-align: center;
  }

  .socials-logo {
    width: 40px;
  }
}
  
@media (min-width: 1120px) {
  body {
    width: 97vw;
  }

  nav {
    text-align: center;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .founder-pic {
    width: 400px;
    height: auto;
    outline: 5px solid white;
    outline-offset: 25px;
  }
  
  h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    text-align: left;
    letter-spacing: 5px;
  }
  
  p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin-top: -35px;
    text-align: left;
    letter-spacing: 4px;
  }

  .socials-logo {
    width: 80px;
  }
}